.page-header {
    display: block; /* Для старых браузеров */
    height: 200px; /* Высота шапки */
    background-color: #c9b8c3;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.headers-name {

}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #424049;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    background-color: #ffffff;
    margin-left: 40px;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 120%;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #748290;
}

.comment {
    margin: 20px 0px 20px 20px;
    color: #bcb6c7
}
