@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('static/fonts/OpenSans-Regular.woff2') format('woff2'),
         url('static/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('static/fonts/OpenSans-Bold.woff2') format('woff2'),
         url('static/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    /* Element specific */
    --header-height: 200px;
    --header-bg-color: #c9b8c3;
    --content-bg-color: #fff;
    --header-text-color: #424049;

    /* Spaces */
    --space-s: 10px;
    --space-m: 20px;
    --space-left: 40px;

    /* Fonts */
    --font-family: 'Open Sans', sans-serif;
    --line-height: 120%;
    --font-weight-bold: 700;
    
    /* Colors  */
    --secondary-color: #828282;
    --primary-color: #3f352F;

    --bs-link-color-rgb: var(--header-text-color);
}
